body {
  background-color: #F0F8FF;
  font-family: 'Roboto', sans-serif; }

h1 {
  display: block;
  margin: auto;
  text-align: center; }

.welcome {
  animation: h1-fade-in 2s; }

.start-container {
  cursor: pointer;
  display: none;
  animation: start-slide-in 2s infinite; }
  .start-container .start {
    animation: h1-slide-in 2s; }

#app-cnvrt {
  display: none; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

#app-cnvrt.show {
  width: 80%;
  height: auto;
  font-size: 20px;
  padding-top: 20px;
  display: flex;
  margin: auto;
  justify-content: center; }
  #app-cnvrt.show .cnvrt-icon {
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 5px; }
  #app-cnvrt.show .cnvrt-input {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px; }

.stop-blink {
  animation: none; }

.cnvrt-away {
  animation: start-slide-out 2s; }

.start-away {
  animation: start-slide-out-left 2s; }

.h1-container {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }

@keyframes h1-fade-in {
  from {
    transform: rotateX(90deg);
    transform-origin: top;
    opacity: 0; }
  to {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1; } }

@keyframes start-slide-in {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes start-slide-out {
  from {
    transform: translate(0px);
    opacity: 1; }
  to {
    transform: translate(100%);
    opacity: 0; } }

@keyframes start-slide-out-left {
  from {
    transform: translate(0px);
    opacity: 1; }
  to {
    transform: translate(-100%);
    opacity: 0; } }
